header{
    height: 120px;
}
.menu {
    text-align :center;
}
.menu li {
    display:inline-block;
    margin:33px 40px;
}

.menu li:hover {
    color: red;
    text-decoration-line: underline;
    text-decoration-color: black;
}
.main_picture {
    height:464px; 
    background-image:url(./image/main.png); 
    background-size: 100% 464px;
}

.icon_title {
    margin-top : 30px;
    margin-bottom: 30px;
    text-align : center;
}

.icon_box{
    padding:30px; 
    width:1240px;
    margin: 0 auto;
    font-size:14px;
    text-align:center;
}
.icon_box>.icon1,
.icon_box>.icon2,
.icon_box>.icon3,
.icon_box>.icon4{
    width: 250px;
    display: inline-block;
    margin-right:60px;
}

.icon_box>.icon4{
    margin-right:0;
}
.chefs{
    background-color:rgba(236,236,236);
    height:304px;
    margin: 30px auto 30px;
}
.chefs .container {   
    width:771px;
    margin: 0 auto;
    
}
.chefs .chefstext{
    width :500px;
    float:left;
    margin-right:30px;
    padding:60px 0;
}

.top {
    height:500px;
    width: 1000px;
    margin : 30px auto 0;
    font-size: 0;
    
}
.top>img{
    height:500px;
    width: 750px;
    
}

.green {
    background-color:rgba(16, 104, 16, 0.5);
    height: 250px;
    width: 250px;
    font-size:10px;
}

.right {
    width: 250px;
    height:250px;
    margin:0;
    float:right;
 
}
.box_all {
    margin : 0 auto;
    height:500px;
    width:1000px;
}
 .box1 { 
    height: 250px;
    width: 250px;
    background-color: rgb(86, 72, 63);
    padding:20px;
    box-sizing:border-box;
    float:left;

}  
.box2 {
    height: 250px;
    width: 250px;
    background-color: rgb(221, 129, 9);
    padding:20px;
    box-sizing:border-box;
    float:left;
}
.box7 {
    width: 250px;
    height: 500px;
    background-color: rgb(228, 215, 156);
    float:right;
}

.footer { 
    width: 1000px;
    height: 40px;
    background-color: lightgray;
    margin : 0 auto;
    text-align: center;
    line-height: 40px;
    
}

.footer div {
    display:inline-block;
    margin:0 10px;
}
 .footer>div.split {
    color: orange;
}