header{
    height: 120px;
    margin: 0 auto;
}
ul {
    list-style :none;
    display:flex; 
    justify-content: center; 
}
li:hover {
    color: red;
    text-decoration-line: underline;
    text-decoration-color: black;
}

header>ul>li{
    float: left;
    text-align: center;
    margin-right:80px;
    margin-top:33px;
}
.main_picture {
    height: 464px;
    overflow:hidden;
}

.icon_title {
    background-color:orange;
    margin-top : 30px;
    margin-bottom: 30px;
    text-align : center;
}

.smallletter {
    font-size:10px;
}

.bigletter {
    font-size:20px;
    font-style:bold;
}
.icon_box{
    background-color: pink;
    padding:30px;
    width:1240px;
    margin: 0 auto;
}
.icon_box>.icon1,.icon2, .icon3 {
    width:250px;
    display: inline-block;
    margin-right:60px; 
    text-align:center;
    font-size:14px;
}
.icon4{
    width:250px;
    display: inline-block;
    margin-right:0px;
    text-align:center;
    font-size:14px;
}
.chefs {
    width:771px;
    height:304px;
    background-color:aliceblue;
    margin: 0 auto;
    margin-top:30px;
}
.chefs>p{
    width :500px;
    float:left;
}
.title {
     text-decoration-line: underline;
     font-weight: bold;
     font-size: 20px;
}
.text {
    font-size: 15px;

}
.chefs>img {
    width:241;
    height:304px;
    
}