header{
    height: 120px;
    margin: 0 auto;
}
ul {
    list-style :none;
    display:flex; 
    justify-content: center; 
}
li:hover {
    color: red;
    text-decoration-line: underline;
    text-decoration-color: black;
}

header>ul>li{
    float: left;
    text-align: center;
    margin-right:80px;
    margin-top:33px;
}
.main_picture {
    height: 464px;
    overflow:hidden;
}

.icon_title {
    background-color:orange;
    margin-top : 30px;
    margin-bottom: 30px;
    text-align : center;
}

.smallletter {
    font-size:10px;
}

.bigletter {
    font-size:20px;
    font-style:bold;
}
.icon_box{
    background-color: pink;
    padding:30px;
    width:1240px;
    margin: 0 auto;
}
.icon_box>.icon1,.icon2, .icon3 {
    width:250px;
    display: inline-block;
    margin-right:60px; 
    text-align:center;
    font-size:14px;
}
.icon4{
    width:250px;
    display: inline-block;
    margin-right:0px;
    text-align:center;
    font-size:14px;
}
.chefs {   
    background-color:rgba(236,236,236);
    height:304px;
    margin: 0 auto;
    margin-top:30px;
}
.bluechef {
    width:771px;
    height:304px;
    background-color: skyblue;
    margin: 0 auto;
    

}

.title {
     width :500px;
     text-decoration-line: underline;
     font-weight: bold;
     font-size: 20px;
     padding:50px 0px 10px 0px;
     box-sizing:border-box;
     float:left;
}
.text {
    font-size: 15px;
    box-sizing:border-box;
    width :500px;
    float:left;
}
.chefs>img {
    height:304px;
}
.top {
    height:500px;
    width: 1000px;
    margin : 30px auto 0;
    font-size: 0;
}

.top>img{
    height:500px;
    width: 750px;
    
}

.green {
    background-color:rgba(16, 104, 16, 0.2);
    height: 250px;
    width: 250px;
    font-size:10px;
}

.right {
    width: 250px;
    height:250px;
    margin:0;
    float:right;
 
}
.box_all {
    font-size:16px;
    margin : 0 auto;
    height:500px;
    width:1000px;
}
 .box1 { 
    height: 250px;
    width: 250px;
    background-color: rgb(86, 72, 63);
    padding:20px;
    box-sizing:border-box;
    float:left;

}  
.box2 {
    height: 250px;
    width: 250px;
    background-color: rgb(221, 129, 9);
    padding:20px;
    box-sizing:border-box;
    float:left;
}
.box7 {
    width: 250px;
    height: 500px;
    background-color: rgb(228, 215, 156);
    float:right;
}

.footer { 
    width: 1000px;
    height: 40px;
    background-color: lightgray;
    margin : 0 auto;
    text-align: center;
    line-height: 40px;
    
}

.footer div {
    display:inline-block;
    margin:0 10px;
}
 .footer>div.split {
    color: orange;
}